---
import Layout from "@layouts/Layout.astro";
import Container from "@components/container.astro";
import Pagetitle from "@components/pagetitle.astro";
import Link from "@components/ui/link.astro";
import dejuanLogo from "/public/authors/dejuan.webp";
import { Image } from "astro:assets";
---

<Layout title="About">
  <Container>
    <Pagetitle>
      <Fragment slot="title">About</Fragment>
      <Fragment slot="desc">Let me introduce myself</Fragment>
    </Pagetitle>

    <div
      class="flex flex-col items-center justify-between gap-10 lg:flex-row mx-auto max-w-4xl mt-12">
      <div class="object-cover aspect-square">
        <Image
          src={dejuanLogo}
          width={300}
          height={300}
          loading="eager"
          title="Dejuan Jones"
          alt="Team"
          class="object-cover rounded-full transition hover:-translate-y-1 hover:shadow-xl"
        />
      </div>

      <div class="max-w-lg">
        <p
          class="mb-5 text-lg text-zinc-500 dark:text-zinc-400 md:px-10 lg:px-0">
          At Earnonlinemoney.org, Seasoned make money from home journalist! Here you find smart
				  investents, quick internet injections, to earn money from home both online and
				  offline.support entrepreneurship share insight, a community , insights, and tools with you,
				  so you can avoid the trials and tribulations that other entrepreneurs and myself encountered
				  throughout the journey to financial success. Therefore, I've assembled a team of experts who
				  have walked the same path and achieved remarkable results, and together, we're committed to
				  helping you thrive in the digital interface.
        
        <p
          class="mb-5 text-lg text-zinc-500 dark:text-zinc-400 md:px-10 lg:px-0">  
          This website serves as a comprehensive resource hub, offering a wide array of meticulously
				  curated articles, tutorials, and guides on various methods of generating income online.
				  Covering topics such as affiliate marketing, e-commerce, blogging, dropshipping, and online
				  tutoring, the content is designed to provide value to both beginners and seasoned
				  individuals seeking to expand their knowledge. The resources presented have been
				  thoughtfully developed to simplify the process of earning income online. Whether navigating
				  the fundamentals or exploring advanced strategies, users will find in-depth insights and
				  actionable advice tailored to their level of expertise. The platform’s mission is to empower
				  individuals with the knowledge and skills needed to make informed decisions and capitalize
				  on opportunities that align with their goals. Additionally, the website highlights inspiring
				  success stories from individuals who have achieved financial independence through online
				  ventures. These real-life examples serve as a testament to the potential of determination,
				  perseverance, and smart decision-making in the digital economy.
        </p>

        <p class="text-lg text-zinc-500 dark:text-zinc-400 md:px-10 lg:px-0">
          Recognizing the dynamic nature of the online landscape, the platform remains dedicated to
				  staying at the forefront of emerging trends, updating its content regularly to reflect the
				  latest strategies and opportunities. This commitment ensures are equipped with the tools
				  necessary to adapt and thrive in an ever-evolving environment. At the core of this
				  initiative lies a belief in fostering responsible and ethical approaches to online income
				  generation, providing a foundation for sustainable success in the digital age.
        </p>
      </div>
    </div>
  </div>
    <div class="mx-auto max-w-xl text-center mt-14">
      <p class="text-lg leading-relaxed text-zinc-600 dark:text-zinc-300">
        Need assistance or collaboration? Reach out and get in touch! Together,
        we can achieve greatness.
      </p>
      <div class="mt-8">
        <Link href="/contact" style="primary">Get in touch</Link>
      </div>
    </div>
  </Container>
</Layout>
